body,html {
	margin:0px;
	padding: 0px;
	background: url('images/background_sample.jpg') no-repeat fixed top;
	
  background-size: 100%;
}



.duza_czcionka{
	font-size: 45px;
	font-weight: 650;
}

.srednia_czcionka{
	font-size: 25px;
	font-weight: 20;
  }
  
